* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-container {
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.scroll-class {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* Landing */

.landing-container {
  width: 100%;
  background-color: #ff9b85;
  height: 100vh;
  margin-top: 0;
  overflow: hidden;
  position: relative;
}

.landing-container > h1 {
  position: absolute;
}

.navbar-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 20px;
}

.navbar-main {
  display: flex;
  flex-direction: row;
}

.navbar-main > h2 {
  font-size: 20px;
  margin: 10px 20px;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.navbar-buttons > div > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 20px;
}

.landing-main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.landing-main {
  width: 60%;
  padding-left: 80px;
  padding-top: 100px;
}

.landing-main > h3 {
  font-size: 30px;
  font-weight: 300;
}

.landing-main > h1 {
  font-size: 75px;
  font-weight: 600;
}

.landing-buttons {
  width: 400px;
  display: flex;
  flex-direction: row;
}

.landing-buttons > button {
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 30px;
}



.landing-promotional {

}

/* Works */

.works-container {
  background-color: blue;
  width: 100%;
  height: 100vh;
}



/* About */

.about-container {
  width: 100%;
  height: 100vh;
  background-color: #fefae0;
  display: flex;
  flex-direction: row;
}

.checkout-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-heading {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: 50px 0;
}

.checkout-heading > h1 {
  color: #582f0e;
}

.checkout-accordions {
  width: 80%;
}

.accordion-item {
  margin: 20px 0;
}

.accordion-body > input {
  margin: 10px 0;
}

.accordion-body > button {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 5px;
}

.payment-method > button {
  background-color: none;
  border: none;
  margin: 10px;
}

.payment-method > button > img {
  height: 30px;
}

.cards-method {
  display: flex;
  flex-direction: column;
}

.cards-method > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards-method > div > input {
  width: 45%;
}

.cards-method > * {
  margin: 10px;
}

.cart-summary {
  width: 40%;
  height: 100vh;
  background-color: #DDA15E;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-summary > h1 {
  margin: 30px 0;
  font-size: 35px;
  width: 80%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  height: 60px;
  align-items: center;
  margin: 5px 0;
  width: 80%;
}

.cart-item > img {
  height: 100%;
  width: 60px;
  background-color: white;
  margin: 0 25px 0 10px;
  border-radius: 8px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-item-info > h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #582f0e;
}

.cart-item-info > h4 {
  font-size: 10px;
  color: #582f0e;
}

.cart-item > h3 {
  margin-left: auto;
  margin-right: 30px;
  color: #582f0e;
}

.cart-costs {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 0;
}

.cart-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.cart-cost > h3 {
  font-size: 18px;
  color: #582f0e;
}

.cart-cost > h4 {
  font-size: 18px;
  color: #582f0e;
}

.horizontal-bar {
  height: 2px;
  width: 80%;
  background-color: #582f0e;
  margin-top: 10px;
}

.order-button {
  width: 80%;
}

.order-button > button {
  width: 100%;
  height: 50px;
  background-color: #582f0e;
  border: none;
  border-radius: 10px;
  color: #FEFAE0;
}